<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="page-container background-color-theme-5">
    <div class="main-page background-color-theme-5">
      <div class="section background-color-theme-5">
        <div class="container-header-text">
          <h1 class="header-text color-theme-black">Mom's Recipe Book</h1>
        </div>
        <div class="subsection">
          <app-image imageLink="/assets/images/home-image-01.jpg" caption=""></app-image>
          <p> 
            Even before dad made the box, there were the recipe cards. Most were written in Mom’s handwriting, but a few were contributed by friends. There are even a couple in dad’s handwriting. The favorites, often bearing stains accumulated over the years, came along in a zip lock on adventures to Germany and New Zealand. 
          </p>
          <p> 
            Then there were the books, written to share both the recipes and family stories associated with them to a wider circle of friends and family.   Those, too, now bear the stains that come from years of use. No more hunting for the cards. We all know that biscuits are #9 in The Joy of Breakfast for Normal People (and for my family and friends, too).
          </p>
          <p> 
            And now there is a website.  We hope it doesn’t lead to stained electronic devices — you have been warned — but brings just as much joy as tastes, smells, and stories are shared with family and friends.
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>