<!-- <ion-content> -->
  <app-header></app-header>
  <div class ="main-page background-color-theme-black">
    <div class="section background-color-theme-black">
      <div class="container-header-text">
        <h1 class="header-text color-theme-2">Pruim Cooking Guide's</h1>
      </div>
      <div class="subsection">
        <app-image></app-image>
        <p>
          Originally, the vast majority of the recipees come from Penny's various cookbooks that were distributed around among family and friends
        </p>
        <p> A professor and associate dean at Calvin
          University, Penny has written books and articles, textbooks, and resources
          that get used nationwide. But her family appreciates most the 3 ½ family
          cookbooks, the children’s novels that each child got growing up, and the decades of good homecooked meals.
        </p>
      </div>
    </div>
  </div>
<!-- </ion-content> -->