<app-header></app-header>
<div class ="main-page background-color-theme-black">
  <div class="section background-color-theme-black">
    <div class="container-header-text">
      <h1 class="header-text color-theme-2">Recipee not found</h1>
    </div>
    <div class="subsection">
      <p>
        The recipe you are trying to reach is not finished yet.
        The dough is rising. The cookies are baking. 
        Until dinner is served, you can go back to <a (click)="navigateHome()">a prepated meal.</a>
      </p>
    </div>
  </div>
</div>
