.review-border{
    border-style: solid;
    border-color: var(--ion-color-light);
    background-color: var(--ion-color-quintiary);
    color: var(--ion-color-light);
}
.review-container{
    padding-left: 1em;
}