.step-section {
    text-align: start;
    padding: 10px;
    min-width: 50%;
    height: 100%;
    margin: 0px;
    display:flex;
}
.step-border{
    border-style: solid;
    border-color: var(--ion-color-secondary);
    background-color: var(--ion-color-tertiary);
    color: var(--ion-color-secondary);
}


.step-text {
    padding: 0px;
    margin: 0.25em 1em;
}

.marginless {
    padding: 0;
    margin: 0 !important;
}

