.image-container {
    // box-shadow: 5px 5px #725f55;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
}

.image {
    margin: 0 auto;
}

.caption {
    font-size: smaller;
    margin: 2px;
}
