.title{
    font-weight: bold;
    margin: 0.5rem;
}
.description{
    font-size: medium;
    margin: 0 4rem;
}
.card-container{
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 2px 3px #725f55;
}