<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="page-container background-color-theme-5">
    <div class="main-page background-color-theme-5">
      <div class="section background-color-theme-5">
        <div class="container-header-text">
          <h1 class="header-text color-theme-black">Table of Contents</h1>
        </div>
        <div class="subsection">
          <ion-searchbar shape="round" size="10" class="searchbar" placeholder="Search by title" [debounce]="1000" (ionInput)="search($event)"></ion-searchbar>
          <div class="array" *ngFor="let recipe of recipeArray">
            <app-card [title]="recipe.title || ''" [description]="recipe?.segments[0]?.intro || recipe?.segments[0]?.description"
              [destination]="'recipe' + '/' + recipe.originalBookID + '/' + recipe.recipeNumber"></app-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>