ion-searchbar{
    --border-radius: 5px;
    --border-width: 1px;
    --border-style: solid;
    --border-color: var(--ion-color-dark)
    --box-shadow: 2px gray;
    --background: var(--ion-color-light);
    --color: var(--ion-color-dark);
    --padding-start: 1em;
    --padding-top: 2px;
    --padding-bottom: 2px;
    border-radius: 1em;
    width: 20em;
    margin: 0 auto;
}
.searchbar ion-searchbar {
    padding: 0.5em;
}

.array {
    margin-top: 2em;
}