<app-header></app-header>
<ion-content [fullscreen]="true">
  <div class="page-container background-color-theme-4">
    <div class="main-page background-color-theme-4">
      <div class="section background-color-theme-4">
        <div class="container-header-text">
          <h1 class="header-text color-theme-2"> {{ recipe?.title }} </h1>
        </div>
        <div *ngFor="let segment of recipe?.segments">
          <div class="subsection">
            <div *ngIf="segment?.imageLink">
              <app-image [imageLink]="segment.imageLink || ''" [caption]="''"></app-image>
            </div>
            <p class="intro-text">{{ segment?.intro }}</p>
            <div *ngIf="segment?.steps">
              <app-steplist [steps]="segment?.steps || []"></app-steplist>
            </div>
            <p class="description-text">{{ segment?.description}}</p>
            <div *ngIf="segment?.reviews">
              <app-review [reviews]="segment?.reviews || {}"></app-review>
            </div>
            <div *ngIf="segment?.bulletList">
              <app-bullet-list [bulletList]="segment?.bulletList || {}"></app-bullet-list>
            </div>
            <p class="outro-text">{{ segment?.outro}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>